.buttons {
  display: flex;
  gap: 12px;
}

.flowBarButton {
  width: 240px;
}

.selectLink {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--text-text-primary2);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
}
