.sideBar {
	--side-padding: 22px;
	display: flex;
	height: 100%;
	max-width: var(--logo-blk-width);
}

.sideBarMain {
	width: var(--nav-width);
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
